<h1 id="tableLabel">All Orders</h1>

<p *ngIf="!orders$"><em>Loading...</em></p>

<div *ngIf="orders$">
  <form>
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search all orders:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
      </div>
    </div>
  </form>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Details</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (order of filteredOrders$ | async; track order.orderNumber; let i = $index) {
      <tr>
        <th scope="row">{{ order.orderNumber }}</th>
        <td><ngb-highlight [result]="order.custName" [term]="filter.value" /></td>
        <td><ngb-highlight [result]="order.details" [term]="filter.value" /></td>
        <td><ngb-highlight [result]="order.custEmail" [term]="filter.value" /></td>
        <td><button (click)="editOrder(order.orderNumber!)">Edit</button></td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4" style="text-align: center">No orders found</td>
      </tr>
      }
</table>
</div>
